/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Header
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/fonts/ArchitectsDaughter-webfont.eot');
    src: url('/fonts/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('/fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('/fonts/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.center {
  text-align: center;
}

/* -----------------------------------------
   Header
----------------------------------------- */
#header #logo {
  height: 47px;
  margin-bottom: 0px;
  margin-right: 10px;
  width: 47px;
}

#header h1 {
  font-family: "ArchitectsDaughterRegular", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  line-height: 47px;
  margin-bottom: 0px;
  vertical-align: top;
}

#header h3 {
  line-height: 47px;
}

#header hr {
  margin-top: 10px;
}

/* -----------------------------------------
   Callout
----------------------------------------- */

#callout .crop {
  position: relative;
}

#callout .crop img {
  border:1px solid #ccc;
}

#callout .crop .highlight {
  background: rgb(255,255,255); /* fallback color */
  background: rgba(255,255,255, 0.9);
  padding: 5px 15px;
  position: absolute;
}

#callout .crop .title {
  top: 50px;
}

#callout .crop .description {
  bottom: 75px;
}

#callout .crop .description p {
  font-size: 18px;
  margin-bottom: 0;
}

#callout .crop .title h2 {
  margin-bottom: 0;
}

#callout .crop .title h3 {
  margin-top: 0;
}

/* -----------------------------------------
   Main
----------------------------------------- */
#main #tickets .button, #main #talks .button, #main #signup #form {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

#main #signup #form {
  padding-top: 15px;
}

#main .push {
  min-height: 150px;
}
